<div class="row">
  <div class="small-12">
  <h1>Project: <%= @project.title %></h1>

    <p>Description: <%= @project.description %></p>
    <p>Goal: $<%= @project.goal %></p>
    <% if @project.user == current_user && signed_in? && current_user %>
      <p><%= link_to "Edit", edit_project_path(@project) %> | <%= link_to "Delete", @project, confirm: "Are you sure?", method: :delete %></p>
    <% end %>

  </div>
</div>