<div class="row">
  <div class="small-12">
  <h1>Project: <%= @project.title %></h1>

    <p>Amount raised: <%= @project.amount_raised %></p>
    <p>Description: <%= @project.description %></p>
    <p>Goal: $<%= @project.goal %></p>
    <% if @project.owner == current_user && signed_in? && current_user %>
      <p><%= link_to "Edit", edit_project_path(@project) %> | <%= link_to "Delete", @project, confirm: "Are you sure?", method: :delete %></p>
    <% end %>

    <h2>Project Rewards</h2>

    <% @rewards.each do |r| %>

    	<p><b>Reward amount: </b><%= r.amount %></p>
    	<p><b>Description: </b><%= r.description %></p>

        <%= form_tag reward_pledges_path(r) do %>
          <%= hidden_field_tag "reward_id", r.id %>
          <%= submit_tag "Make a pledge!" %>
        <% end %>

    <% end %>

    <% if current_user && signed_in? %>
      <p><%= link_to "Make a reward", new_project_reward_path(@project) %></p>
    <% end %>

  </div>
</div>